# Sensitive files
licence.json
renewal.json
config.json
School_Management_db

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Build and distribution
build/
dist/
*.egg-info/git 
